apiVersion: v1
kind: Namespace
metadata:
  name: clamav
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: opencloud-config
  namespace: clamav
data:
  ###############################################################################
  # High Availability Configuration
  ###############################################################################
  CLAMAV_REPLICA_COUNT: "2"
  CLAMAV_UPDATE_STRATEGY_TYPE: "RollingUpdate"
  CLAMAV_UPDATE_STRATEGY_PARTITION: "1"
  CLAMAV_HPA_ENABLED: "false"
  CLAMAV_PDB_ENABLED: "false"
  CLAMAV_PDB_MIN_AVAILABLE: "1"
  CLAMAV_TOPOLOGY_MAX_SKEW: "1"
  CLAMAV_TOPOLOGY_KEY: "kubernetes.io/hostname"
  CLAMAV_TOPOLOGY_UNSATISFIABLE: "ScheduleAnyway"

  ###############################################################################
  # Persistence Configuration
  ###############################################################################
  CLAMAV_PERSISTENCE_ENABLED: "false"
  CLAMAV_PERSISTENCE_SIZE: "5000Mi"
  # For ReadWriteMany deployment, change to: ReadWriteMany
  CLAMAV_PERSISTENCE_ACCESS_MODES: "ReadWriteMany"
  CLAMAV_PERSISTENCE_STORAGE_CLASS: ""

  ###############################################################################
  # Resource Configuration
  ###############################################################################
  CLAMAV_RESOURCES_LIMITS_CPU: "6000m"
  CLAMAV_RESOURCES_LIMITS_MEMORY: "8Gi"
  CLAMAV_RESOURCES_REQUESTS_CPU: "500m"
  CLAMAV_RESOURCES_REQUESTS_MEMORY: "1Gi"

  ###############################################################################
  # Image Configuration
  ###############################################################################
  # Leave empty to use default image tag from helm chart
  CLAMAV_IMAGE_TAG: ""
